<!-- <h2>Wlecome to diary</h2>

<table class="table table-bordered">
<thead>
    <tr>
        <th>date</th>
        <th>entry</th>
        <th>action</th>
    </tr>
</thead>

<tbody>
    <tr *ngFor="let diaryEntry of diaryEntries">
        <td>{{diaryEntry.date}}</td>
        <td>{{diaryEntry.entry}}</td>
        <td>
            <button class="btn btn-light">edit</button>
            <button class="btn btn-daner">delete</button>
        </td>
    </tr>
    <tr>
        <td>jan1</td>
        <td>entry 1</td>
        <td>aciton</td>
    </tr>
    
</tbody>


</table> -->
<!-- <h2>Home</h2> -->